#APIs 
API_NOTAS= https://uniminuto.api.digibee.io/pipeline/uniminuto/v1
API_PROMEDIO= http://10.0.36.220:9003/estudiante


# API_CREDITOS=https://uniminuto.api.digibee.io/pipeline/uniminuto/v1/servicios-banner-dos
API_CURSOS_CALIFICACIONES=https://uniminuto.api.digibee.io/pipeline/uniminuto/v1/servicios-banner
API_HISTORIAL=https://webapi.uniminuto.edu/API/NotasBanner/ConsultaNotasBanner

API_INFORMACION_PERSONAL=https://registros.uniminuto.edu/api_egresado_act/service/
API_HORARIO_ACTUAL=https://registros.uniminuto.edu/api_horario/select/
MOODLE_API_URL=https://uniminuto.api.digibee.io/pipeline/uniminuto/v1/moodle-lms-umd

API_PRESUPUESTO=http://localhost:9000/api

 
apikey=api_key_diggibee

AUTO_INIT_DB=true
POSTGRES_CONNECTION_STRING= postgresql://postgres:admin@localhost:5433/agentes_db
#postgresql://postgres:admin@postgres:5432/agentes_db
 
GOOGLE_API_KEY=tu_api_key

LANGCHAIN_API_KEY="tu_api_key"
LANGCHAIN_TRACING_V2="true"
LANGSMITH_PROJECT="tu_proyecto"

OPENAI_API_KEY=tu_api_key
HUGGINGFACEHUB_API_TOKEN=tu_api_key
OLLAMA_API_KEY=tu_api_key